body {
  background: black;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.container {
  text-align: center;
}

.weather {
  font-size: 1.3em;
}

.location {
  font-size: 1.5em;
}

.condition {
  color: yellow;
}

.picture {
  width: 100%;
  height: auto;
}